<!-- let = variabila de scop/local, var = variabila globala -->

<!--<div>-->
<!--  <p *ngFor="let item of itemsList"> &lt;!&ndash; asa se parcurge / afiseaza o lista in HTML &ndash;&gt;-->
<!--    {{item}} &lt;!&ndash; interpolare de stringuri cu acolade duble = modalitate de afisare a valorii unei variabile in HTML&ndash;&gt;-->
<!--  </p>-->
<!--</div>-->
<!-- acesta este un template -->
<mat-card *ngFor="let item of itemsList">
  <mat-card-content>
    <p>Title: {{item.title}}</p>
    <p>Description: {{item.description}}</p>
    <p>Price: {{item.price}}</p>
    <p>ImageURL: {{item.imageUrl}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="onDeleteItem(item.id)">Delete</button>
    <button mat-flat-button (click)="onEditItem(item)">Edit</button>
  </mat-card-actions>
</mat-card>
